name: OnePlus 11 Kernel Build

on:
  workflow_dispatch:
    inputs:
      ksu:
        description: "启用KSU"
        required: false
        type: boolean
        default: false
      better_net:
        description: "启用网络功能增强配置"
        required: false
        type: boolean
        default: true
      baseband_guard:
        description: "启用内核级基带保护"
        required: true
        type: boolean
        default: false
      lz4kd:
        description: "启用lz4kd压缩算法"
        required: false
        type: boolean
        default: false
      hymofs:
        description: "启用HymoFS支持"
        required: false
        type: boolean
        default: false

jobs:
  build:
    name: OnePlus 11 Kernel Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Maximize Build Space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          temp-reserve-mb: 2048
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'

      - name: Check Disk Space
        run: df -h

      - name: Create and Enable 3G Swap
        run: |
          sudo swapoff -a
          sudo fallocate -l 3G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile
          free -h

      - name: Install dependencies
        run: |
          sudo apt-get install -y --no-install-recommends libelf-dev tree dos2unix python3

      - name: Configure Git and repo
        run: |
          git config --global user.email "bot@kernelsu.org"
          git config --global user.name "KernelSUBot"
          curl https://storage.googleapis.com/git-repo-downloads/repo > ~/repo
          chmod a+x ~/repo
          sudo mv ~/repo /usr/local/bin/repo

      - name: Initialize repo and sync
        run: |
          mkdir kernel_workspace && cd kernel_workspace
          mkdir -p .repo/manifests
          repo init -u https://github.com/OnePlusOSS/kernel_manifest.git -b oneplus/sm8550 -m oneplus_11_b.xml --repo-rev=stable --depth=1 --no-clone-bundle --no-tags
          repo sync -c -j$(nproc --all) --no-tags --no-clone-bundle --force-sync

          for dir in kernel_platform/common kernel_platform/msm-kernel; do
            if [ -e "$dir/BUILD.bazel" ]; then
              sed -i '/^[[:space:]]*"protected_exports_list"[[:space:]]*:[[:space:]]*"android\/abi_gki_protected_exports_aarch64",$/d' "$dir/BUILD.bazel"
            fi
            rm -f "$dir/android/abi_gki_protected_exports_"* 2>/dev/null || echo "No protected exports in $dir"
          done

      - name: Setup lz4kd
        if: ${{ inputs.lz4kd }}
        run: |
          cd kernel_workspace
          echo "Download ZRAM Patches..."
          git clone https://github.com/ShirkNeko/SukiSU_patch.git
          
          cd kernel_platform
          echo "Copy the lz4k files..."
          cp -r ../SukiSU_patch/other/zram/lz4k/include/linux/* ./common/include/linux
          cp -r ../SukiSU_patch/other/zram/lz4k/lib/* ./common/lib
          cp -r ../SukiSU_patch/other/zram/lz4k/crypto/* ./common/crypto
          cp -r ../SukiSU_patch/other/zram/lz4k_oplus ./common/lib/
          cd ./common
          echo "Apply lz4kd patches..."
          cp ../../SukiSU_patch/other/zram/zram_patch/5.15/lz4kd.patch ./
          patch -p1 -F 3 < lz4kd.patch || true
          cp ../../SukiSU_patch/other/zram/zram_patch/5.15/lz4k_oplus.patch ./
          patch -p1 -F 3 < lz4k_oplus.patch || true
          
          echo "CONFIG_CRYPTO_LZ4KD=y" >> ./arch/arm64/configs/gki_defconfig
          echo "CONFIG_CRYPTO_LZ4K_OPLUS=y" >> ./arch/arm64/configs/gki_defconfig
          echo "CONFIG_ZRAM_WRITEBACK=y" >> ./arch/arm64/configs/gki_defconfig
            
          echo "Done"

      - name: Setup KSU
        if: ${{ inputs.ksu }}
        run: |
          cd kernel_workspace/kernel_platform
          curl -LSs "https://raw.githubusercontent.com/tiann/KernelSU/main/kernel/setup.sh" | bash -
          
          cd KernelSU
          COMMIT_HASH=$(git rev-parse --short HEAD)
          COMMIT_DATE=$(git log -1 --format=%cd --date=short)
          BRANCH_OR_TAG=$(git describe --tags 2>/dev/null || git branch --show-current)

          echo "=== KernelSU Version Information ==="
          echo "版本: $BRANCH_OR_TAG"
          echo "Commit Hash: $COMMIT_HASH"
          echo "Commit Date: $COMMIT_DATE"

      - name: Add iptables extensions
        if: ${{ inputs.better_net }}
        run: |
          cd kernel_workspace/kernel_platform/common
          {
            echo "CONFIG_BPF_STREAM_PARSER=y"
            echo "CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=y"
            echo "CONFIG_NETFILTER_XT_SET=y"
            echo "CONFIG_IP_SET=y"
            echo "CONFIG_IP_SET_MAX=65534"
            echo "CONFIG_IP_SET_BITMAP_IP=y"
            echo "CONFIG_IP_SET_BITMAP_IPMAC=y"
            echo "CONFIG_IP_SET_BITMAP_PORT=y"
            echo "CONFIG_IP_SET_HASH_IP=y"
            echo "CONFIG_IP_SET_HASH_IPMARK=y"
            echo "CONFIG_IP_SET_HASH_IPPORT=y"
            echo "CONFIG_IP_SET_HASH_IPPORTIP=y"
            echo "CONFIG_IP_SET_HASH_IPPORTNET=y"
            echo "CONFIG_IP_SET_HASH_IPMAC=y"
            echo "CONFIG_IP_SET_HASH_MAC=y"
            echo "CONFIG_IP_SET_HASH_NETPORTNET=y"
            echo "CONFIG_IP_SET_HASH_NET=y"
            echo "CONFIG_IP_SET_HASH_NETNET=y"
            echo "CONFIG_IP_SET_HASH_NETPORT=y"
            echo "CONFIG_IP_SET_HASH_NETIFACE=y"
            echo "CONFIG_IP_SET_LIST_SET=y"
            echo "CONFIG_IP6_NF_NAT=y"
            echo "CONFIG_IP6_NF_TARGET_MASQUERADE=y"
          } >> ./arch/arm64/configs/gki_defconfig

      - name: Setup Baseband-guard
        if: ${{ inputs.baseband_guard }}
        run: |
          cd kernel_workspace/kernel_platform/common
          curl -LSs "https://github.com/vc-teahouse/Baseband-guard/raw/main/setup.sh" | bash
          echo "CONFIG_BBG=y" >> ./arch/arm64/configs/gki_defconfig
          sed -i '/^config LSM$/,/^help$/{ /^[[:space:]]*default/ { /baseband_guard/! s/lockdown/lockdown,baseband_guard/ } }' security/Kconfig

      - name: Setup HymoFS
        if: ${{ inputs.hymofs }}
        run: |
          cd kernel_workspace/kernel_platform/common
          echo "CONFIG_HYMOFS=y" >> ./arch/arm64/configs/gki_defconfig

      - name: Other tasks
        run: |
          cd kernel_workspace/kernel_platform/common
          # 启用TMPFS
          echo "CONFIG_TMPFS_XATTR=y" >> ./arch/arm64/configs/gki_defconfig
          echo "CONFIG_TMPFS_POSIX_ACL=y" >> ./arch/arm64/configs/gki_defconfig
          # 设置 LTO 以防止爆炸
          sed -i 's/^CONFIG_LTO=n/CONFIG_LTO=y/' ./arch/arm64/configs/gki_defconfig
          sed -i 's/^CONFIG_LTO_CLANG_FULL=y/CONFIG_LTO_CLANG_THIN=y/' ./arch/arm64/configs/gki_defconfig
          sed -i 's/^CONFIG_LTO_CLANG_NONE=y/CONFIG_LTO_CLANG_THIN=y/' ./arch/arm64/configs/gki_defconfig
          grep -q '^CONFIG_LTO_CLANG_THIN=y' ./arch/arm64/configs/gki_defconfig || echo 'CONFIG_LTO_CLANG_THIN=y' >> ./arch/arm64/configs/gki_defconfig
          # 跳过将 uapi 标准头安装到 usr/include 目录的不必要操作，节省编译时间
          echo "CONFIG_HEADERS_INSTALL=n" >> ./arch/arm64/configs/gki_defconfig
          # 开启 O2 编译优化配置
          echo "CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y" >> ./arch/arm64/configs/gki_defconfig
          # 禁用 defconfig 检查
          sed -i 's/check_defconfig//' ./build.config.gki

      - name: Rename make name
        run: |
          cd kernel_workspace/kernel_platform
          sed -i 's/-4k//g' ./common/arch/arm64/configs/gki_defconfig
          sed -i 's/ -dirty//g' ./common/scripts/setlocalversion
          sed -i 's/ -dirty//g' ./msm-kernel/scripts/setlocalversion
          sed -i 's/ -dirty//g' ./external/dtc/scripts/setlocalversion

      - name: Build Kernel
        run: |
          cd kernel_workspace
          LTO=thin SYSTEM_DLKM_RE_SIGN=0 BUILD_SYSTEM_DLKM=0 KMI_SYMBOL_LIST_STRICT_MODE=0 \
          ./kernel_platform/oplus/build/oplus_build_kernel.sh kalama gki

      - name: Make AnyKernel3
        run: |
          git clone https://github.com/Kernel-SU/AnyKernel3.git --depth=1
          rm -rf ./AnyKernel3/.git
          mkdir -p kernel_workspace/kernel_platform/out/Final-Image-Find/
          image_path=$(find "./kernel_workspace/kernel_platform/common/out/" -name "Image" | head -n 1)
          if [ -z "$image_path" ]; then
            image_path=$(find "./kernel_workspace/kernel_platform/out/" -name "Image" | head -n 1)
          fi
          if [ -n "$image_path" ] && [ -f "$image_path" ]; then
            cp "$image_path" ./AnyKernel3/Image
            cp "$image_path" kernel_workspace/kernel_platform/out/Final-Image-Find/Image
          else
            echo "未找到 Image 文件"
            exit 1
          fi

      - name: Extract Linux Version from Image
        run: |
          IMAGE_PATH="./AnyKernel3/Image"
          KERNEL_VERSION=$(strings "$IMAGE_PATH" | grep "Linux version" | tail -n +2 | head -n 1 | awk '{print $3}')
          echo "KERNEL_VERSION=$KERNEL_VERSION" >> $GITHUB_ENV

      - name: Upload AnyKernel3
        uses: actions/upload-artifact@v4
        with:
          name: OP11_AK3${{ inputs.ksu && '_KSU' || '' }}${{ inputs.better_net && '_BetterNet' || '' }}${{ inputs.baseband_guard && '_BBG' || '' }}${{ inputs.lz4kd && '_LZ4KD' || '' }}${{ inputs.hymofs && '_HymoFS' || '' }}
          path: ./AnyKernel3/*

      - name: "Get bot script"
        uses: actions/checkout@v4
        with:
          path: bot

      - name: "Upload to telegram group"
        run: |
          if [ ! -z "${{ secrets.BOT_TOKEN }}" ]; then
            cd AnyKernel3
            zip -q -r "../OP11_AK3${{ inputs.ksu && '_KSU' || '' }}${{ inputs.better_net && '_BetterNet' || '' }}${{ inputs.baseband_guard && '_BBG' || '' }}${{ inputs.lz4kd && '_LZ4KD' || '' }}${{ inputs.hymofs && '_HymoFS' || '' }}.zip" ./*
            cd ..
            pip3 install telethon
            python3 ./bot/Tools/buildbot.py "./OP11_AK3${{ inputs.ksu && '_KSU' || '' }}${{ inputs.better_net && '_BetterNet' || '' }}${{ inputs.baseband_guard && '_BBG' || '' }}${{ inputs.lz4kd && '_LZ4KD' || '' }}${{ inputs.hymofs && '_HymoFS' || '' }}.zip"
            echo "The file has been uploaded to Telegram."
          fi
        env:
          CHATID: ${{secrets.CHATID}}
          BOT_TOKEN: ${{secrets.BOT_TOKEN}}
          MESSAGE_THREAD_ID: ${{secrets.MESSAGE_THREAD_ID}}
          DEVICE: "OnePlus 11"
          KERNEL_VERSION: ${{ env.KERNEL_VERSION }}